<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" class="register-form" id="register-form" th:object="${user}">
  <div class="form-group">
    <label for="username"><i class=" material-icons-name"></i></label>
    <input type="text" name="username" id="username" th:field="*{fullname}" placeholder="Your Name"/>
  </div>
  <div class="form-group">
    <label for="email"><i class="zmdi zmdi-email"></i></label>
    <input type="email" name="email" id="email" th:field="*{email}" placeholder="Your Email"/>
  </div>
  <div class="form-group">
    <label for="passWord"><i class="zmdi zmdi-lock"></i></label>
    <input type="password" name="password" id="password" th:field="*{password}"  placeholder="Password"/>
  </div>
  <!--            <div class="form-group">-->
  <!--              <label for="address"><i class="zmdi zmdi-lock"></i></label>-->
  <!--              <input type="text" name="fullname" id="address" placeholder="Fullname"/>-->
  <!--            </div>-->
  <!--            <div class="form-group">-->
  <!--              <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />-->
  <!--              <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>-->
  <!--            </div>-->
  <div class="form-group form-button">
    <button type="submit" name="signup" id="signup" class="form-submit" value="Cap nhat"/>Cập nhật
  </div>
</form>
</body>
</html>