<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main style="display: flex; min-height: 100vh;">
  <div class="container">
    <div class="columns is-centered mt-6">
      <div class="column is-4">
        <h1 class="block title has-text-centered">CHANGE PASSWORD</h1>
        <form action="" method="post" class="box" id="form-login" th:object="${changePass}">
          <div class="field">
            <label for="" class="label">Username</label>
            <div class="control has-icons-left">
              <input type="text" class="input" th:field="*{username}"> <span class="icon is-small is-left">
									<i class="fas fa-user"></i>
								</span>
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Current password</label>
            <div class="control has-icons-left">
              <input type="password" class="input" th:field="*{currentPassword}"> <span class="icon is-small is-left">
									<i class="fas fa-lock"></i>
								</span>
            </div>
          </div>
          <hr>
          <div class="field">
            <label for="" class="label">New password</label>
            <div class="control has-icons-left">
              <input type="password" class="input" th:field="*{password}"> <span class="icon is-small is-left"> <i
                    class="fas fa-lock"></i>
								</span>
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Confirm New Password</label>
            <div class="control has-icons-left">
              <input type="password" class="input" th:field="*{confirmPassword}"> <span class="icon is-small is-left">
									<i class="fas fa-check"></i>
								</span>
            </div>
          </div>
          <hr>
          <div class="field">
            <div class="control">
              <button class="button is-fullwidth is-primary" type="submit" name="changeBtn">Change Password</button>
            </div>
          </div>
          <div class="field">
            <p th:text="${message}"></p>
          </div>
          <div class="field">
            <p th:text="${error}"></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
</body>
</html>