<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/index">
                ChargeTech
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                 id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/product/show">Product</a>
                        </li>

                        <li th:if="${session != null}" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa fa-fw fa-user"></i>
                                <span th:text="${session.user != null ? session.user.fullname : 'Account'}"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li th:if="${session.user == null}"><a class="dropdown-item"
                                                                       href="/user/login">Login</a>
                                </li>
                                <li th:if="${session.user == null}"><a class="dropdown-item"
                                                                       href="/user/register">Register</a></li>
                                <li th:if="${session.user == null}"><a class="dropdown-item" href="/user/forgot">Forgot  pass</a>

                                </li>
                                <li th:if="${session.user != null}"><a class="dropdown-item"
                                                                       href="/user/logout">Logout</a>
                                </li>
                                <li th:if="${session.user != null}"><a class="dropdown-item" href="/user/changePass">Change
                                    Password</a></li>
                                <li>
                                <li th:if="${session.user != null}"><a class="dropdown-item" href="/user/capnhat">Cập nhật
                                    tài khoản</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li th:if="${session.user != null}">
                                  <span th:if="${session.user.admin != null}">
                                      <span th:if="${session.user.admin == true}">
                                        <a class="dropdown-item" href="/admin/index">Admin</a>
                                      </span>
                                  </span>
                                </li>

                            </ul>

                        </li>

                    </ul>
                </div>
                <div class=" navbar align-self-center d-flex">
                    <a class="nav-icon position-relative text-decoration-none" href="/cart">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark" th:text="${count}">0</span>
                    </a>
                </div>
            </div>

        </div>
    </nav>
</div>